<!-- STEP FOUR IS HERE -->
<div id="step4">
    <!-- <h1><i class="glyphicons glyphicons-translate"></i></h1> -->
    <h1><i class="fa fa-globe" aria-hidden="true"></i></h1>
    <p class="lead">Translate the text.</p>
    <figure>
        <canvas></canvas>
    </figure>
    <blockquote>
        <p id="result"></p>
        <p id="translation"></p>
        <footer></footer>
    </blockquote>
    <button class="btn btn-lg btn-default" id="go-back">Go back</button>
    <button class="btn btn-lg btn-default" id="start-over">Start over</button>
</div>
