<!-- STEP THREE IS HERE -->
<div id="step3">
    <h1><i class="glyphicon glyphicon-text-height"></i></h1>
    <p class="lead">You'll find the recognized text below.</p>
    <figure>
        <canvas></canvas>
    </figure>
    <blockquote>
        <p id="result"></p>
        <footer></footer>
    </blockquote>
    <button class="btn btn-lg btn-success" id="translate">Translate</button>
    <button class="btn btn-lg btn-default" id="go-back">Go back</button>
    <button class="btn btn-lg btn-default" id="start-over">Start over</button>
</div>
